body{
	background-image: url('imgs/fondos/bosque_noche_forest_night.jpg');
}
h1{
	text-align: center;
	color: #fff;

}
h1:hover{
	transform: scale(1.2);
}
#center{
	
	right: 330px;
	height: 400px;
	width: 400px;
	background-color: #59D2E3;
	margin: 0 auto;
	border-radius: 300px;
}
#center:hover{
	background-color: #003A2B;
}
#center img:hover {
transform: scale(1.2);

}
#ninja{
	position: absolute;
	left: 700px;
	bottom: 150px;
}
#rex{
	position: absolute;
	right: 650px;
	bottom:40px;
}
#vs{
	position: absolute;
	right: 450px;
	bottom: 40px;
}
#play{
	position: absolute;
	text-align: center;
	margin: 0 auto;
	right: 550px;
	
}
#play:hover{
	background-color: #05283C;
	color: #fff;
}